/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-image: url(./components/img/bacground.svg);
  background-repeat: repeat-y;
}

.bg-black {
  background-color: black;
}

.qr-header {
  padding: 0 !important;
  margin: 0 !important;
}

#logoText {
  margin-top: auto;
  margin-bottom: auto;
  font-family: Righteous, sans-serif;
}

#aboutUs {
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: underline;
}

#qr-Area {
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.qr-input {
  width: 425px;
  height: 255px !important;
}

.qr-input:focus {
  margin: 0;
}

button {
  width: 10rem;
  padding: 10px;
}

#createQr {
  width: 20rem;
  background-color: #FECB11;
  margin-left: auto;
  margin-right: auto;
}